# Archivos binarios y compilados
*.exe
*.out
*.o
*.so
*.dll
*.a
*.lo

# Carpetas generadas por Go
/bin/
/pkg/
/dist/
/build/

# Caché de módulos
go.sum
go.work
go.work.sum

# Archivos de dependencias y caché
*.mod
*.sum
vendor/

# Configuración de entorno y credenciales
.env
.env.local
.env.development
.env.production
.env.*.local

# Logs y depuración
*.log
*.test
*.prof
*.trace

# Archivos de depuración
debug/
dump.rdb
*.swp
*.swo

# Configuración de IDEs y editores
.vscode/
.idea/
*.iml

# Archivos de sistema (Mac y Windows)
.DS_Store
Thumbs.db

class-list.json
pid


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

class-list.json
pid